<!--<div *ngFor="let step of parsedJson.sections">-->
  <!--<form [formGroup]="step.form">-->
    <!--<div class="form-container">-->
      <!--<div *ngFor="let question of step.question_list">-->
        <!--<label *ngIf="question.qtype == 'single-choice' || question.qtype == 'multi-choice'">{{question.qtext}}</label>-->
        <!--<mat-form-field *ngIf="question.qtype == 'input-text'">-->
          <!--<input [(ngModel)]="question.answer" matInput placeholder="{{question.qtext}}" [formControlName]="question.key">-->
        <!--</mat-form-field>-->

        <!--<mat-select *ngIf="question.qtype == 'select-country'" placeholder="Country" [formControlName]="question.key">-->
          <!--<mat-option>&#45;&#45;</mat-option>-->
          <!--<mat-option *ngFor="let country of countries" [value]="country.code">-->
            <!--{{country.name}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->

        <!--<mat-radio-group [(ngModel)]="question.answer"  [formControlName]="question.key" *ngIf="question.qtype == 'single-choice'">-->
          <!--<mat-radio-button style="width: 100%;"-->
                            <!--*ngFor="let choice of question.qchoices" [color]="'primary'" [value]="choice.value">-->
            <!--{{choice.text}}-->
          <!--</mat-radio-button>-->
        <!--</mat-radio-group>-->
        <!--<span *ngIf="question.qtype == 'multi-choice'">-->
               <!--<div *ngFor="let choice of question.qchoices">-->
                 <!--<mat-checkbox [value]="choice.value" [color]="'primary'"-->
                               <!--[formControlName]="choice.key">{{choice.text}}</mat-checkbox></div>-->
      <!--</span>-->
        <!--<br>-->
        <!--<br>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button [disabled]="!step.form.valid" (click)="checkForm()" mat-raised-button color="primary">Primary</button>-->
  <!--</form>-->
<!--</div>-->

<router-outlet></router-outlet>
